MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/casadimoda
JWT_SECRET=your_jwt_secret_min_32_chars_long
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dtcogssxh
CLOUDINARY_API_KEY=716696896621959
CLOUDINARY_API_SECRET=uwFoZAQigcrw7X0PLWzjTlOy2CQ
CLOUDINARY_URL=cloudinary://716696896621959:uwFoZAQigcrw7X0PLWzjTlOy2CQ@dtcogssxh
NEXT_PUBLIC_API_URL=http://localhost:5000/api